.header {
  display: flex;
  gap: 16px;
  flex-direction: row;
  padding-top: 51.14px;
  padding-left: 100px;
}
.header__center {
  display: flex;
  gap: 16px;
  margin: auto;
  gap: 48px;
  padding-left: 163px;
  padding-right: 185px;
}
.header__right {
  margin-left: auto;
  padding-right: 100px;
}
